In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('fhv_tripdata_2019-01.csv.gz', compression='gzip')

In [4]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [5]:
df.tail()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
23143217,B03157,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,NaN,B03157
23143218,B03157,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,NaN,B03157
23143219,B03157,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,NaN,B03157
23143220,B03157,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,NaN,B03157
23143221,B03164,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,NaN,B03164

In [7]:
df.PUlocationID

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
            ..
23143217   NaN
23143218   NaN
23143219   NaN
23143220   NaN
23143221   NaN
Name: PUlocationID, Length: 23143222, dtype: float64

In [9]:
df.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [10]:
import requests

In [13]:
year = 2019
month = 1
dataset_file = f"fhv_tripdata_{year}-{month:02}.csv.gz"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_{year}-{month:02}.csv.gz"
response = requests.get(dataset_url)

In [14]:
with open(filename, 'wb') as f:
        for chunk in response:
            f.write(chunk)

NameError: name 'filename' is not defined