In [2]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName('test') \
        .getOrCreate()

23/03/02 22:20:36 WARN Utils: Your hostname, Bronx.local resolves to a loopback address: 127.0.0.1; using 192.168.1.112 instead (on interface en0)
23/03/02 22:20:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 22:20:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [13]:
# df_green.show()
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [10]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [15]:
df_green = df_green \
            .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
            .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [16]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [18]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [17]:
df_yellow = df_yellow \
            .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
            .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [20]:
# this is sorted but we want to preserve order
# set(df_green.columns) & set(df_yellow.columns)

In [23]:
common_columns = []
yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [24]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [25]:
df_green.select(common_columns).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|       2|2020-01-22 13:18:32|2020-01-22 13:45:58|                 N|         1|         244|          41|              1|         5.22|       22.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        22.8|           1|                 0.0|
|       2|2020-01-23 17:54:10|2020-01-23 18:01:02|                 N|         1|         236|         263|              1|         0.87|        6.5|  1.0|    0.5|       1.2|         0.0|                  0.3|       12.25|           1|                2.75|
|       2|2020-01-19 10:23:37|2020-01-19 10:26:29|                 N|         1|         166|         166|              4|         0.63|        4.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         5.3|           2|                 0.0|
|       2|2020-01-21 14:25:16|2020-01-21 14:35:51|                 N|         1|         152|         238|              1|         2.71|       11.0|  0.0|    0.5|      2.91|         0.0|                  0.3|       17.46|           1|                2.75|
|    null|2020-01-07 09:46:00|2020-01-07 09:59:00|              null|      null|          51|           3|           null|         2.13|      18.96| 2.75|    0.0|       0.0|         0.0|                  0.3|       22.01|        null|                null|
|    null|2020-01-10 08:19:00|2020-01-10 09:15:00|              null|      null|          32|         186|           null|        17.93|      49.58|  0.0|    0.0|       0.0|         2.8|                  0.3|       52.68|        null|                null|
|       2|2020-01-15 10:57:40|2020-01-15 11:33:06|                 N|         1|         130|         228|              3|        24.04|       64.5|  0.0|    0.5|     13.06|         0.0|                  0.3|       78.36|           1|                 0.0|
|       2|2020-01-26 16:52:02|2020-01-26 17:03:01|                 N|         1|           7|         223|              1|         1.45|        8.5|  0.0|    0.5|      2.79|         0.0|                  0.3|       12.09|           1|                 0.0|
|       2|2020-01-24 21:57:19|2020-01-24 22:27:38|                 N|         1|         244|          87|              1|        10.94|       34.0|  0.5|    0.5|      3.95|         0.0|                  0.3|        42.0|           1|                2.75|
|       2|2020-01-27 23:45:54|2020-01-27 23:58:33|                 N|         1|          65|          62|              5|         3.18|       12.0|  0.5|    0.5|       2.0|         0.0|                  0.3|        15.3|           1|                 0.0|
|       2|2020-01-26 17:21:19|2020-01-26 17:31:43|                 N|         1|          95|          95|              1|         1.86|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|
|       2|2020-01-07 11:54:37|2020-01-07 12:04:23|                 N|         1|         181|         195|              1|         1.75|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|
|    null|2020-01-12 07:21:00|2020-01-12 07:58:00|              null|      null|         240|          37|           null|        18.95|      40.47|  0.0|    0.5|       0.0|         0.0|                  0.0|       40.97|        null|                null|
|    null|2020-01-13 11:56:00|2020-01-13 12:23:00|              null|      null|          75|         220|           null|         9.24|      34.86| 2.75|    0.0|       0.0|         2.8|                  0.3|       40.71|        null|                null|
|       2|2020-01-11 05:41:57|2020-01-11 05:51:49|                 N|         5|         127|          69|              1|         3.37|        7.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         7.3|           2|                 0.0|
|    null|2020-01-28 13:40:00|2020-01-28 13:59:00|              null|      null|          25|          61|           null|         2.92|      20.73| 2.75|    0.5|       0.0|         0.0|                  0.0|       23.98|        null|                null|
|    null|2020-01-28 11:19:00|2020-01-28 11:33:00|              null|      null|         212|          81|           null|         5.13|      22.59| 2.75|    0.5|       0.0|         0.0|                  0.0|       25.84|        null|                null|
|       1|2020-01-23 07:57:08|2020-01-23 08:01:28|                 N|         1|         166|          24|              1|          1.0|        5.5|  0.0|    0.5|      1.26|         0.0|                  0.3|        7.56|           1|                 0.0|
|       2|2020-01-20 10:04:55|2020-01-20 10:06:34|                 N|         1|          75|          75|              1|         0.59|        3.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         4.3|           2|                 0.0|
|    null|2020-01-03 18:37:00|2020-01-03 18:37:00|              null|      null|          81|          81|           null|          0.0|      22.26|  0.0|    0.5|       0.0|         0.0|                  0.3|       23.06|        null|                null|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
only showing top 20 rows

In [26]:
from pyspark.sql import functions as F

In [27]:
df_green_sel = df_green \
                .select(common_columns) \
                .withColumn('service_type', F.lit('green'))

In [32]:
df_yellow_sel = df_yellow \
                .select(common_columns) \
                .withColumn('service_type', F.lit('yellow'))

In [33]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [34]:

df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [36]:
df_trips_data.registerTempTable('trips_data')

/opt/homebrew/Cellar/apache-spark/3.3.2/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [37]:
# now we use sql

spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-22 13:18:32|2020-01-22 13:45:58|                 N|         1|         244|          41|              1|         5.22|       22.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        22.8|           1|                 0.0|       green|
|       2|2020-01-23 17:54:10|2020-01-23 18:01:02|                 N|         1|         236|         263|              1|         0.87|        6.5|  1.0|    0.5|       1.2|         0.0|                  0.3|       12.25|           1|                2.75|       green|
|       2|2020-01-19 10:23:37|2020-01-19 10:26:29|                 N|         1|         166|         166|              4|         0.63|        4.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         5.3|           2|                 0.0|       green|
|       2|2020-01-21 14:25:16|2020-01-21 14:35:51|                 N|         1|         152|         238|              1|         2.71|       11.0|  0.0|    0.5|      2.91|         0.0|                  0.3|       17.46|           1|                2.75|       green|
|    null|2020-01-07 09:46:00|2020-01-07 09:59:00|              null|      null|          51|           3|           null|         2.13|      18.96| 2.75|    0.0|       0.0|         0.0|                  0.3|       22.01|        null|                null|       green|
|    null|2020-01-10 08:19:00|2020-01-10 09:15:00|              null|      null|          32|         186|           null|        17.93|      49.58|  0.0|    0.0|       0.0|         2.8|                  0.3|       52.68|        null|                null|       green|
|       2|2020-01-15 10:57:40|2020-01-15 11:33:06|                 N|         1|         130|         228|              3|        24.04|       64.5|  0.0|    0.5|     13.06|         0.0|                  0.3|       78.36|           1|                 0.0|       green|
|       2|2020-01-26 16:52:02|2020-01-26 17:03:01|                 N|         1|           7|         223|              1|         1.45|        8.5|  0.0|    0.5|      2.79|         0.0|                  0.3|       12.09|           1|                 0.0|       green|
|       2|2020-01-24 21:57:19|2020-01-24 22:27:38|                 N|         1|         244|          87|              1|        10.94|       34.0|  0.5|    0.5|      3.95|         0.0|                  0.3|        42.0|           1|                2.75|       green|
|       2|2020-01-27 23:45:54|2020-01-27 23:58:33|                 N|         1|          65|          62|              5|         3.18|       12.0|  0.5|    0.5|       2.0|         0.0|                  0.3|        15.3|           1|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [39]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM 
    trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [42]:
df_result = spark.sql("""
SELECT
    -- Revenue grouping
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month,
    
    service_type,

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_COUNT) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance

    FROM 
        trips_data
    GROUP BY revenue_zone, revenue_month, service_type
""")

In [43]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         218|2020-01-01 00:00:00|       green|  24689.350000000126|              1561.75|                  121.5|                      18.7|           735.9000000000004|                    246.0000000000036|          27375.149999999958|                                 0.0|         1.0754716981132075|        6.732052451539335|
|          85|2020-01-01 00:00:00|       green|   19874.88000000006|               1476.5|                  187.5|        165.89999999999998|           354.6800000000002|                   233.70000000000314|            22320.9099999999|                                11.0|         1.3349753694581281|       4.4563455149501605|
|         116|2019-12-01 00:00:00|       green|               21.59|                  1.0|                    1.0|                      4.95|                         0.0|                   0.8999999999999999|          29.439999999999998|                                 0.0|                        1.0|       0.6366666666666666|
|          93|2020-02-01 00:00:00|       green|  3652.9799999999996|                131.0|                   45.0|                    148.47|           87.96999999999998|                    39.60000000000005|           4123.470000000002|                                16.5|          1.380952380952381|        6.566783216783216|
|         143|2020-02-01 00:00:00|       green|  1420.3600000000004|               130.25|                    3.0|                       0.0|           73.43999999999998|                   13.800000000000004|          1640.8500000000001|                                 0.0|                        1.0|        8.347391304347827|
|         225|2020-02-01 00:00:00|       green|  41648.030000000086|              3508.75|                  396.5|        367.58000000000004|           671.9200000000004|                   506.40000000000776|           47254.72999999985|                               52.25|         1.1892332789559543|        4.282854030501086|
|         112|2020-01-01 00:00:00|       green|  21761.030000000017|               1034.0|                  703.0|        2487.4200000000014|           308.6100000000001|                    452.7000000000114|           27470.10999999962|                              742.25|         1.2766407904022583|       3.4783365695792865|
|         250|2020-02-01 00:00:00|       green|  15359.960000000034|               1282.5|                  117.5|                     56.01|           590.3200000000004|                   179.99999999999926|           17598.43999999997|                                11.0|         1.2394957983193278|        4.962810650887571|
|          63|2020-02-01 00:00:00|       green|  10573.399999999998|                759.5|                   57.0|        32.830000000000005|          405.85000000000014|                    99.29999999999968|          11934.529999999997|                                2.75|         1.0609756097560976|        7.083547486033517|
|         221|2020-02-01 00:00:00|       green|  438.09000000000003|                  7.5|                    2.5|                      3.45|                        91.8|                                  2.1|           545.4399999999999|                                 0.0|                        1.0|       19.342857142857145|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                       null|       11.090000000000002|
|          67|2020-02-01 00:00:00|       green|   7261.509999999997|               515.25|                   41.0|                     15.71|          234.85000000000005|                    69.29999999999991|           8141.520000000001|                                 0.0|         1.1016949152542372|        475.5992692307694|
|          39|2020-01-01 00:00:00|       green|   60305.34999999994|               3876.0|                  491.0|                     29.63|          1069.9199999999996|                    561.0000000000063|           66334.85000000037|                                 0.0|         1.2745098039215685|        6.203130280124502|
|          26|2020-01-01 00:00:00|       green|   27098.79000000009|              1743.25|                  221.5|        121.73000000000002|           551.2800000000003|                   292.50000000000534|           30034.89999999984|                                 0.0|         1.1054852320675106|        4.771315789473691|
|         147|2020-02-01 00:00:00|       green|   8909.839999999991|                678.5|                   74.5|                     42.99|           323.6400000000001|                   105.29999999999968|          10140.270000000011|                                 5.5|                    1.14375|        4.952959183673468|
|         165|2020-01-01 00:00:00|       green|  24802.129999999997|               1549.0|                  189.5|        101.14999999999998|          495.95000000000033|                   268.80000000000445|           27427.27999999993|                                11.0|         1.1891891891891893|        4.462666025024061|
|         193|2020-01-01 00:00:00|       green|  22288.570000000032|              1121.25|                  659.0|        1335.6800000000003|           232.4600000000001|                    497.7000000000131|           27003.40999999962|                               253.0|         1.1738019169329073|       2.6420300362506453|
|         124|2020-01-01 00:00:00|       green|   7916.269999999997|                464.5|                   52.5|                     15.56|          285.27000000000004|                    74.99999999999964|                      8809.1|                                 0.0|         1.0185185185185186|         7.09040590405904|
|         244|2020-01-01 00:00:00|       green|   186755.7100000006|              6773.25|                 4933.0|        19220.349999999868|           3665.569999999985|                   3244.2000000005064|           232629.0299999776|                              8997.5|           1.33827209930924|        4.355255763688768|
|         136|2020-01-01 00:00:00|       green|   26839.71000000001|               1675.5|                  215.0|                      93.9|           692.2500000000002|                   273.90000000000464|          29808.709999999803|                                16.5|         1.1654411764705883|        5.947148325358854|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [44]:
df_result.write.parquet('data/report/revenue/')